:root {
  --lightGrey: #d8dbe2;
  --darkGrey: #373f51;
  --teal: #468c98;
  --brown: #b4654a;
  --green: #134611;
  --red: #931621;
  --copper: #b26e63;
  --sage: #d2cca1;
  --gold: #c8ad55;
  --royalblue: #02194f;
}

/* -------------------------------------------------------------------------- */
/*                                    Général                                 */
/* -------------------------------------------------------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

p,
a {
  line-height: 1.5em;
}

h1 {
  font-size: 3em;
  color: white;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 2.5em;
  color: var(--darkGrey);
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0 20px;
}

h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 250px;
  padding-top: 15px;
  border-bottom: 1px solid var(--teal);
}

h3 {
  font-size: 2em;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-weight: bold;
  color: var(--darkGrey);
}

h4 {
  font-size: 1.3em;
}

h5 {
  text-transform: uppercase;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
}

footer {
  position: relative;
}

a {
  color: black;
  text-decoration-color: transparent;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--teal);
  cursor: pointer;
  transition: text-decoration 0.5s ease-in;
}

svg {
  transition: all 0.3s ease-in-out;
}

.imgLink {
  text-decoration: none !important;
}

button {
  background-color: var(--teal);
  border-color: transparent;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  padding: 10px 20px;
  box-shadow: unset;
  transition: all 0.5s ease-in;
}

button:hover {
  background-color: var(--darkGrey);
  cursor: pointer;
  border-color: var(--darkGrey);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.smallerText {
  font-size: 0.8em;
}

.biggerText {
  font-size: 1.2em;
}

hr {
  border: solid 1px var(--darkGrey);
}
/* -------------------------------------------------------------------------- */
/*                                   Icones                                   */
/* -------------------------------------------------------------------------- */
.tealIcon {
  fill: var(--teal);
}

.lightGreyIcon {
  fill: var(--lightGrey);
}

.darkGreyIcon {
  fill: var(--darkGrey);
}

.darkGreyIcon:hover {
  fill: var(--teal);
}

/* -------------------------------------------------------------------------- */
/*                            Barre promotionnelle                            */
/* -------------------------------------------------------------------------- */
.promoBar {
  background-color: var(--darkGrey);
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                   Header                                   */
/* -------------------------------------------------------------------------- */
.mobileHeader {
  display: none;
}

.firstNavMobile {
  display: none;
}

header > div {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 0px 30px;
}

header svg {
  margin: 0 5px;
}

.navBorder {
  margin: 0px;
}

.firstNav ul {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}

.firstNav a,
.subNav a {
  text-transform: uppercase;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}

.firstNav {
  margin: 20px 0px;
}

.subNav {
  justify-content: center;
  text-align: center;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 9990;
  background-color: white;
  box-shadow: 0 2px 5px grey;
}

.subNav figure {
  width: 200px;
  margin: 0 0 30px 0;
}

.subNav img {
  max-width: 100%;
  object-fit: cover;
}

#layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logoArthur {
  margin: 0 0 0 50px;
}

.mobileSubNav {
  display: none;
}

@media screen and (max-width: 850px) {
  .desktopHeader,
  .firstNav {
    display: none;
  }

  .mobileHeader {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    justify-content: space-between;
    border-bottom: solid 1px var(--darkGrey);
  }

  .mobileHeader svg {
    fill: var(--darkGrey);
  }

  .mobileHeader svg:hover {
    fill: var(--teal);
    cursor: pointer;
  }

  .mobileHeader > div {
    min-width: 33.33%;
  }

  .mobileHeader > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    flex: 0 0;
  }

  .mobileHeader > div:last-of-type {
    display: flex;
    justify-content: flex-end;
    flex: 0 0;
  }

  .firstNavMobileClicked {
    display: flex;
  }

  .firstNavMobile {
    flex-direction: column;
    text-align: left;
    font-size: 1.5em;
    font-family: "cinzelregular", Arial, Helvetica, sans-serif;
    cursor: pointer;
  }

  .firstNavMobile svg {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
  }

  .firstNavMobile li:last-of-type {
    border-bottom: solid 1px var(--darkGrey);
  }

  .mobileItems {
    display: flex;
    flex-direction: row;
    padding: 20px 20%;
    border-top: solid 1px var(--darkGrey);
  }

  .mobileItems a {
    transition: color 0.3s ease-in-out;
  }

  .mobileItems div {
    min-width: 50%;
  }

  .mobileItems > div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .mobileSubNavShow {
    display: flex;
  }

  .mobileSubNav {
    flex-direction: column;
  }

  .mobileSubNav figure {
    text-align: center;
  }

  .mobileSubNav figure p {
    padding: 10px 0 20px 0;
  }

  .mobileSubNav figure img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
  }

  .rotateArrow svg {
    transform: rotate(-90deg);
    fill: var(--teal);
    transition: all 0.3s ease-in-out;
  }

  .rotateArrow a {
    color: var(--teal);
    transition: color 0.3s ease-in-out;
  }
}

@media screen and (max-width: 500px) {
  .mobileHeader > div {
    min-width: unset;
  }

  .mobileHeader {
    padding: 20px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------- Picto des services --------------------------- */
.pictoServices {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: var(--darkGrey);
  flex-wrap: wrap;
}

footer section:first-of-type {
  margin: 50px;
}

.pictoServices figure {
  text-align: center;
  margin: 0px 20px;
}

.pictoServices svg {
  margin: 0 20px 20px 20px;
}

.pictoServices figcaption {
  font-size: 1.1em;
  line-height: 1.2em;
}

@media screen and (max-width: 1030px) {
  .pictoServices figure {
    margin: 10px 20px;
  }
}

/* ------------------------------- Newsletter ------------------------------- */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--lightGrey);
  height: 100px;
  margin: 0;
}

.newsletter .formNewsletter {
  display: flex;
  align-items: center;
}

.newsletter input {
  height: 40px;
  padding: 0 20px;
  border-color: transparent;
  color: var(--teal);
}

.formNewsletter svg {
  margin: 0;
}

.formNewsletter button {
  width: 45px;
  height: 40px;
  padding: 0;
}

.newsletter div {
  margin: 0 20px;
}

@media screen and (max-width: 600px) {
  .newsletter {
    flex-direction: column;
    padding: 30px 20px;
    height: unset;
  }

  .newsletter div {
    margin-top: 10px;
  }
}

/* --------------------------------- Footer --------------------------------- */

.footerNav {
  display: flex;
  justify-content: space-around;
  padding: 70px 30px;
  line-height: 2.5em;
  flex-wrap: wrap;
}

.footerNav a {
  line-height: 2em;
}

.footerNav h5 {
  font-size: 1.1em;
  font-weight: bold;
}

.footerNav a > h5 {
  margin-top: 15px;
}

.footerBottom {
  background-color: var(--darkGrey);
  color: var(--lightGrey);
  margin: 0;
}

.footerNav > div {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.footerNav > div:nth-of-type(2) {
  justify-content: space-between;
}

.footerNav > div:last-of-type {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footerNav > div:last-of-type > div:last-of-type {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footerNav > div:last-of-type > div:last-of-type p {
  padding: 0;
}

.footerNavRow {
  display: flex;
  flex-direction: row;
}

footer svg {
  margin: 0 10px 0 0;
}

.footerNavColumn {
  display: flex;
  flex-direction: column;
}

.footerBottom > p {
  text-align: center;
  padding-bottom: 20px;
}

.recommandationGoogle {
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding: 10px;
}

footer a {
  color: var(--lightGrey);
}

.breaker {
  display: none;
}

@media screen and (max-width: 1300px) {
  .breaker {
    display: block;
    width: 100%;
    height: 0;
  }

  .footerNav {
    justify-content: center;
    padding: 50px 100px;
  }

  .footerNav > div {
    flex-grow: 1;
    flex-basis: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {
  .breaker {
    display: none;
  }

  .footerNav {
    flex-direction: column;
    font-size: 1.2em;
  }

  .footerNav div {
    margin: 8px 0;
    text-align: center;
    justify-content: center;
    flex: 1;
  }

  .recommandationGoogle {
    left: 0;
    right: 0;
    bottom: 90px;
  }

  .footerBottom > p {
    padding-top: 100px;
  }

  .footerNav a > h5 {
    margin-top: 15px;
  }

  .footerBottom div:last-of-type {
    order: -1;
  }
}

@media screen and (max-width: 400px) {
  .footerNav {
    padding: 50px 20px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Accueil                                */
/* -------------------------------------------------------------------------- */

/* ---------------------------- Nos Collections ---------------------------- */

#nosCollections h2 {
  font-size: 2em;
}

#nosCollections {
  display: flex;
  text-align: center;
  margin-top: 0px;
}

#nosCollections img {
  flex-grow: 1;
  height: 100%;
  min-width: 33.33%;
}

#nosCollections > div {
  display: flex;
  flex-wrap: wrap;
}

#nosCollections > div > div {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

#nosCollections > div > div > img,
#nosCollections > div > div > div {
  max-width: 50%;
}

#descriptionCollection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#descriptionCollection p {
  margin: 0 20px;
}

#liensCollections {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#liensCollections ul {
  font-size: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#liensCollections li {
  margin: 0px 30px 10px 30px;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
}

#liensCollections li a {
  transition: padding 0.5s ease-in-out;
}

.selectedCollection {
  color: white;
  background-color: var(--teal);
  padding: 7px;
}

@media screen and (max-width: 1050px) {
  #nosCollections {
    flex-direction: column;
  }

  #nosCollections img {
    max-width: 100%;
    object-fit: contain;
  }

  #nosCollections > div {
    flex-direction: column;
  }

  #nosCollections > div > div > img,
  #nosCollections > div > div > div {
    max-width: 100%;
  }

  #nosCollections > div > div > img {
    order: 2;
  }

  #liensCollections,
  #descriptionCollection {
    padding: 50px 0;
  }

  #liensCollections h2 {
    margin-bottom: 40px;
  }

  #descriptionCollection h3 {
    margin-bottom: 20px;
  }
  #descriptionCollection button {
    margin-top: 20px;
  }
}

/* ------------------------------ Notre Univers ----------------------------- */

#notreUnivers {
  margin: 100px 0;
}
#notreUnivers h2 {
  margin: 50px 0;
  text-align: center;
}

#notreUnivers > div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}

#notreUnivers figure {
  margin-bottom: 40px;
}

#notreUnivers img {
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
}

/* ------------------------ Partenariat Yannick Aleno ----------------------- */

.whiteTitle {
  color: white;
}

#partenariat > div:first-of-type {
  background-color: var(--darkGrey);
  color: white;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#partenariat > div:last-of-type {
  background-color: var(--lightGrey);
  height: 300px;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

#partenariat > div:last-of-type div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

#partenariat > div:last-of-type div img,
#partenariat > div:first-of-type img {
  margin: 0 20px;
}

#partenariat > div:last-of-type > div:last-of-type > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#partenariat p {
  max-width: 800px;
}

#partenariat blockquote p {
  font-size: 1.2em;
  font-style: italic;
  color: var(--teal);
}

#partenariat svg {
  margin: 0 10px;
}

#partenariat span {
  font-size: 2em;
}

@media screen and (max-width: 800px) {
  #partenariat > div:first-of-type {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 50px 20px;
    justify-content: space-between;
  }

  #partenariat img {
    margin-bottom: 20px;
  }

  #partenariat > div:last-of-type {
    flex-direction: column;
    display: flex;
    height: auto;
    padding: 50px 20px;
  }

  #partenariat > div:last-of-type > div:first-of-type {
    flex-direction: row;
  }

  #partenariat > div:last-of-type > div:nth-of-type(2) > div:first-of-type {
    flex-direction: column;
  }

  #partenariat p,
  #partenariat svg {
    margin: 15px 0;
  }
}

/* ----------------------- Notre sélection de produits ---------------------- */
#listingProduits {
  text-align: center;
  margin: 100px 0;
  padding: 0 20px;
}

#listingProduits .selectedListingCards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px auto 0 auto;
  max-width: 900px;
  flex-wrap: wrap;
}

#listingProduits h2 {
  margin-bottom: 30px;
}

#listingProduits div:first-of-type a {
  font-size: 1.2em;
  margin: 0px 10px;
}

#listingProduits a:hover {
  text-decoration: none;
}

#listingProduits svg:first-of-type {
  transform: rotate(180deg);
}

.selectedListing {
  border-bottom: solid 3px var(--teal);
  padding-bottom: 8px;
}

.unselectedListingCards {
  display: none;
}

@media screen and (max-width: 900px) {
  #listingProduits .selectedListingCards {
    flex-direction: column;
  }

  .listingCards > a {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 560px) {
  #main #listingProduits div:first-of-type a {
    display: inline-block;
    width: auto;
    margin-bottom: 30px;
  }
}

/* -------------------------------- Instagram ------------------------------- */
.instagram {
  text-align: center;
  background-color: var(--lightGrey);
  padding: 100px 20px;
}

.instagram h2 {
  margin-bottom: 30px;
}

.instagram > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.instagram img {
  margin: 0 20px 0 0;
}

.instagram h4 {
  margin-bottom: 30px;
  color: var(--teal);
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .instagram > div {
    flex-direction: column;
  }

  .instagram img {
    margin: 0 0 20px 0;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Page Listing                                */
/* -------------------------------------------------------------------------- */
.mainListing section {
  margin: 0;
}

.titleListing {
  display: flex;
  text-align: center;
  color: white;
}

.titleListing h2 {
  margin-bottom: 20px;
}

.titleListing img {
  min-width: 50%;
  max-height: 500px;
  object-fit: cover;
}

.titleListing article {
  background-color: var(--darkGrey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.currentNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: var(--teal);
  font-size: 0.9em;
  flex-wrap: wrap;
}

.currentNav a {
  color: var(--teal);
  margin: 0 10px;
}

.filterCollection {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  height: 100px;
  background-color: var(--lightGrey);
  flex-wrap: wrap;
}

.filterCollection a {
  margin: 0 20px;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.listingProducts {
  display: flex;
  min-width: 100%;
  margin: 50px 0 0 0;
}

.listingFilters {
  min-width: 15%;
}

.listingFilters > div:first-child {
  margin-left: 40%;
}

.listingFilters h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bolder;
}

#listingFiches {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  line-height: 1.7em;
  margin-left: 20px;
}

.annulerFiltre {
  padding-top: 10px;
  color: var(--red);
}

#listingFiches a:hover {
  text-decoration: none;
}

#listingFiches article {
  position: relative;
  margin: 0 40px 20px 40px;
}

#listingFiches img {
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
}

.listingPrice {
  display: flex;
  justify-content: center;
}

.listingPrice div {
  margin: 10px 20px;
}

.listingPrice div p:first-of-type {
  font-size: 1.2em;
}

.listingPrice div p:nth-of-type(2) {
  font-size: 0.9em;
}

.listingPrice div:first-of-type {
  text-decoration: line-through;
  color: var(--red);
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#listingFiches input,
#listingFiches button {
  width: 80px;
  height: 40px;
  text-align: center;
  font-size: 1em;
  margin: 0 5px;
  background-color: white;
  border: 2px solid var(--teal);
  padding: 0 5px;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  opacity: 0;
  fill: var(--teal);
  color: var(--teal);
  font-weight: bold;
}

#listingFiches button:hover {
  background-color: var(--teal);
  fill: white;
}

#listingFiches button {
  transition: background-color 0.3s ease-in-out;
}

#listingFiches article:hover input,
#listingFiches article:hover button,
#listingFiches article:hover p,
#listingFiches article:hover svg {
  visibility: visible;
  opacity: 1;
}

#listingFiches article:hover img {
  filter: brightness(0.5);
}

.listingButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedFilterCollection {
  color: white;
  background-color: var(--teal);
  padding: 10px;
  transition: padding 0.5s ease-in-out;
}

/* .selectedFilterCollection::after {
  content: " ";
  border-bottom: solid 2px teal;
  display: block;
  position: absolute;
  bottom: -20px;
  width: 100%;
} */

.promoPercent {
  position: absolute;
  top: 17px;
  left: 15px;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.wishlistListing {
  position: absolute;
  top: 15px;
  right: 15px;
  fill: white;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.wishlistListing:hover {
  fill: var(--teal);
}

.listingFiltersMobile {
  display: none;
}

output {
  color: var(--teal);
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 0 20px 0;
}

.hideFicheProduit {
  display: none;
}

.hideFicheProduitCheckbox {
  display: none;
}

.hideFicheProduitRange {
  display: none;
}

@media screen and (max-width: 800px) {
  .titleListing {
    flex-direction: column;
  }

  .titleListing article {
    padding: 100px 20px;
  }

  .listingFiltersMobile .select {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 900px) {
  .filterCollection a {
    margin: 10px 20px;
  }

  .filterCollection {
    height: unset;
    padding: 20px 20px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1050px) {
  .listingProducts {
    flex-direction: column;
  }

  .listingFilters > div {
    display: none;
  }

  #listingFiches {
    justify-content: center;
  }

  #listingFiches article {
    margin: 0 20px 20px 20px;
  }

  .listingFiltersMobile {
    display: block;
    text-align: center;
    padding: 20px 10px;
  }

  .listingFiltersMobile select {
    font-size: 1.1em;
  }

  .listingFiltersMobile article {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
  }

  .listingFiltersMobile article p {
    margin-right: 20px;
    font-size: 1.1em;
    color: var(--teal);
  }

  .listingFiltersMobile article output {
    margin-left: 20px;
    margin-top: 20px;
  }

  .annulerFiltreMobile {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    color: var(--red);
  }
}

@media screen and (max-width: 1340px) and (min-width: 1150px) {
  #listingFiches {
    margin-left: 100px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                Page Produit                                */
/* -------------------------------------------------------------------------- */

#produitPictures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--royalblue);
  padding: 80px 0;
  color: white;
  margin: 0;
  object-fit: cover;
}

#produitPictures img {
  object-fit: cover;
}

#produitPictures h2 {
  color: white;
  margin: 30px 0;
  font-size: 3em;
}

#produitPictures h4 {
  color: var(--teal);
  font-size: 1.7em;
}

.produitVignettes {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  min-width: 700px;
  margin-top: 20px;
}

#descriptifProduit {
  margin: 0;
}

#descriptifProduit article:first-of-type {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 40px 20px;
  flex-wrap: wrap;
}

#descriptifProduit article:first-of-type > div {
  margin: 0 25px;
}

#descriptifProduit article:first-of-type > div:nth-of-type(1),
#descriptifProduit article:first-of-type > div:nth-of-type(3),
#descriptifProduit article:first-of-type > div:nth-of-type(5) {
  display: flex;
  flex-direction: column;
}

#descriptifProduit article:first-of-type > div:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  min-width: 150px;
  justify-content: space-between;
}

#descriptifProduit article:first-of-type label {
  font-size: 1.1em;
  color: var(--darkGrey);
  font-weight: bold;
  margin-bottom: 10px;
}

#descriptifProduit input,
#descriptifProduit select {
  text-align: center;
  width: 100px;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.produitSelectTaille .select {
  margin: 0;
}

.produitSelectCouleur > div {
  display: flex;
  justify-content: space-between;
  min-width: 70px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.produitSelectCouleur > div div:first-of-type {
  background-color: var(--copper);
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.produitSelectCouleur > div div:last-of-type {
  background-color: var(--green);
  height: 40px;
  width: 40px;
}

.produitSelectCouleur p:last-of-type {
  color: white;
}

.produitSelectQuantite input {
  border: none;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 45px;
  background-color: var(--lightGrey);
  color: var(--teal);
}

.priceProduct div p:first-of-type {
  font-size: 1.5em;
}

#descriptifProduit article:first-of-type p:last-of-type,
#descriptifProduit article:first-of-type a:last-of-type {
  font-size: 0.9em;
}

.priceProduct div:first-of-type {
  color: var(--red);
  font-size: 0.8em;
  text-decoration: line-through;
  margin: auto 0;
}

.priceProduct div:last-of-type {
  font-size: 1.1em;
}

.buttonsProduct p {
  text-align: left;
  margin-left: 30px;
  color: var(--red);
  margin-top: 10px;
}

.buttonsProduct div:first-of-type {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.buttonsProduct button {
  height: 50px;
  margin: 15px 5px 0 5px;
  fill: white;
}

#descriptifProduit article:last-of-type {
  padding: 70px 100px;
  background-color: var(--lightGrey);
}

#descriptifProduit article:last-of-type a {
  font-weight: bold;
  color: var(--teal);
}

#descriptifProduit article:last-of-type > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#descriptifProduit article:last-of-type > div:first-of-type {
  justify-content: space-between;
  margin-bottom: 60px;
}

#descriptifProduit article:last-of-type > div:first-of-type > div {
  display: flex;
  align-items: center;
}

#descriptifProduit article:last-of-type > div:last-of-type {
  justify-content: center;
}

#descriptifProduit article:last-of-type > div:last-of-type div {
  margin: 0 50px;
  display: flex;
  align-items: center;
}

#descriptifProduit article:last-of-type svg {
  margin-right: 10px;
  fill: var(--darkGrey);
}

#descriptifProduit article:last-of-type > div:nth-of-type(2) {
  justify-content: center;
  margin-bottom: 60px;
}

#descriptifProduit
  article:last-of-type
  > div:nth-of-type(2)
  > div:first-of-type
  > div {
  display: flex;
  flex: 1;
  margin-bottom: 15px;
}

#descriptifProduit
  article:last-of-type
  > div:nth-of-type(2)
  > div:first-of-type
  > div
  p {
  margin: auto 0;
}

#descriptifProduit article:last-of-type > div:nth-of-type(2) > div {
  min-width: 50%;
}

#descriptifProduit
  article:last-of-type
  > div:nth-of-type(2)
  > div:first-of-type
  p {
  margin-bottom: 20px;
}

#mainProduit .produitCompleter {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

#mainProduit #listingProduits {
  padding: 20px 0;
  fill: var(--teal);
}

#mainProduit #listingProduits h2 {
  margin-bottom: 80px;
}

#mainProduit #listingProduits h5 {
  text-transform: uppercase;
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  padding: 0;
}

#mainProduit #listingProduits h4 {
  font-size: 1em;
}

.chefTestimonies {
  text-align: center;
  color: white;
  background-color: var(--lightGrey);
  padding: 100px 0;
}

.chefTestimonies h2 {
  margin: 30px 0;
}

.chefTestimonies > div {
  display: flex;
  justify-content: space-around;
}

.chefTestimonies > div article {
  margin: 50px 30px;
  padding: 20px;
  min-height: 400px;
  flex: 1 1 0px;
  fill: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chefTestimonies > div article:first-of-type {
  background-image: url(images/alain-passard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.chefTestimonies > div article:nth-of-type(2) {
  background-image: url(images/marc-briand.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.chefTestimonies > div article:nth-of-type(3) {
  background-image: url(images/mauro-colagreco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
}

.chefTestimonies > div article:first-of-type {
  background-image: url(images/alain-passard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.chefTestimonies > div blockquote {
  margin-bottom: 20px;
}

.chefTestimonies > div figcaption {
  font-family: "cinzelregular", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.faq {
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.faq img {
  object-fit: cover;
}

.openFaq svg {
  fill: var(--teal);
  transform: rotate(-90deg);
}

.closedFaq svg {
  fill: var(--teal);
  transform: rotate(90deg);
}

.closedFaq .faqText {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all 300ms ease-out;
}

.openFaq .faqText {
  max-height: 2000px;
  opacity: 1;
  transition: all 1s ease-in;
}

.faq h2 {
  margin-bottom: 50px;
}

.faq h3 {
  font-family: "raleway", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.8em;
}

.faq article {
  padding: 30px 30px;
  border: solid 1px var(--darkGrey);
  margin: 10px 50px;
  width: 80vw;
}

.faq article > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq article > div:last-of-type {
  margin-top: 20px;
}

.faq article > div:last-of-type p {
  padding: 0 50px;
}

@media screen and (max-width: 800px) {
  #produitPictures h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 0 20px;
  }

  #produitPictures > img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  .produitVignettes {
    min-width: 100%;
  }

  .produitVignettes img {
    max-width: 24%;
    height: 100%;
  }
}

@media screen and (max-width: 1000px) {
  #descriptifProduit article:first-of-type > div {
    margin: 15px 15px;
  }

  .buttonsProduct {
    order: -2;
    min-width: 100%;
    align-items: center;
  }

  .buttonsProduct p {
    margin-left: -65px;
  }

  .priceProduct {
    order: -3;
  }

  #descriptifProduit article:first-of-type > div:nth-of-type(4) {
    font-size: 120%;
  }

  #descriptifProduit
    article:first-of-type
    > div:nth-of-type(4)
    > div:first-of-type {
    margin-right: 20px;
  }

  .produitSelectQuantite {
    order: -1;
  }

  #descriptifProduit article:last-of-type {
    padding: 70px 50px;
  }

  #descriptifProduit article:last-of-type > div {
    flex-direction: column;
  }

  #descriptifProduit article:last-of-type > div:nth-of-type(2) > p {
    text-align: center;
  }

  #descriptifProduit article:last-of-type > div:first-of-type > div {
    margin: 10px 20px;
  }

  #descriptifProduit article:last-of-type > div:nth-of-type(2) {
    order: -1;
    margin-bottom: 0px;
    padding: 0 20px;
  }

  #descriptifProduit article:last-of-type > div:nth-of-type(2) > div {
    margin: 0 auto 50px auto;
    display: block;
    min-width: unset;
  }

  #descriptifProduit
    article:last-of-type
    > div:nth-of-type(2)
    > div:first-of-type
    > div {
    margin: 10px 20px;
  }

  #descriptifProduit article:last-of-type > div:first-of-type {
    display: block;
    margin: 0 auto 50px auto;
  }

  #descriptifProduit article:last-of-type > div:last-of-type {
    flex-direction: row;
  }

  #descriptifProduit article:last-of-type > div:last-of-type div {
    margin: 0 20px;
    flex-direction: column;
  }

  #descriptifProduit article:last-of-type > div:last-of-type div svg {
    margin-bottom: 10px;
  }

  .chefTestimonies > div {
    flex-direction: column;
    align-items: center;
  }

  .chefTestimonies > div article {
    max-width: 500px;
    margin: 20px 30px;
  }

  .faq article > div:last-of-type {
    flex-direction: column;
  }

  .faq img {
    min-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .faq article > div:last-of-type p {
    padding: 0;
  }

  #mainProduit .produitCompleter {
    flex-direction: column;
  }

  #mainProduit .produitCompleter article {
    margin: 20px 0;
  }
}

@media screen and (max-width: 400px) {
  .faq img {
    max-width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  #descriptifProduit article:last-of-type {
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Page Inspiration                              */
/* -------------------------------------------------------------------------- */

.bannerInspiration h1 {
  text-align: center;
  padding: 20px;
}
.collectionPresentation {
  padding: 100px 0 100px 200px;
  display: flex;
}

.collectionPresentation article:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.collectionPresentation h2,
.collectionPresentation p {
  margin-bottom: 30px;
}

.fondAssiette {
  background-image: url(images/fond-assiette.png);
  background-size: cover;
  width: 500px;
  height: 500px;
  position: relative;
}

.fondAssiette img:first-of-type {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 105px;
  left: 95px;
}

.fondAssiette img:nth-of-type(2),
.fondAssiette img:nth-of-type(3),
.fondAssiette img:nth-of-type(4),
.fondAssiette img:nth-of-type(5) {
  border-radius: 50%;
  object-fit: cover;
  width: 125px;
  height: 125px;
  position: absolute;
}

.fondAssiette img:nth-of-type(2) {
  top: 0;
  left: -80px;
}

.fondAssiette img:nth-of-type(3) {
  top: 130px;
  left: -130px;
}

.fondAssiette img:nth-of-type(4) {
  top: 270px;
  left: -130px;
}

.fondAssiette img:nth-of-type(5) {
  top: 400px;
  left: -70px;
}

.bannerInspiration {
  background-image: url("images/abysse1.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bannerInspiration h2 {
  color: white;
}

.collectionVideo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  overflow: hidden;
}

.collectionVideo article:first-of-type {
  background-image: url(images/fond-assiette-video.png);
  background-size: cover;
  width: 900px;
  height: 650px;
  position: relative;
}

.collectionVideo article:first-of-type div {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  left: 265px;
  top: 130px;
}

.collectionVideo video {
  width: 750px;
  height: 750px;
}

.collectionVideo h2,
.collectionVideo p {
  margin-bottom: 30px;
}

.collectionVideo p {
  width: 450px;
  text-align: center;
}

.recette {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recette h4 {
  text-align: center;
}

.openBook {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-image: url(images/open-book.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
}

.openBook article {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 100px 0 100px;
}

.openBook article > div > div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.openBook img {
  border-radius: 50%;
}

.openBook article:nth-of-type(2) img {
  order: 2;
}

.openBook p {
  padding: 0 20px;
}

.openBook {
  flex-basis: unset;
}

.openBook article > div > p {
  font-size: 1.5em;
  color: var(--teal);
  font-weight: bold;
}

.openBook article:nth-of-type(2) > div > p {
  text-align: right;
}

.recette svg:nth-of-type(2) {
  transform: rotate(180deg);
  stroke-width: 22;
}

.recette svg {
  margin: 30px 0;
  fill: var(--darkGrey);
}

.recette h4 {
  font-size: 2em;
  color: var(--teal);
  margin-top: 15px;
}

.recette {
  margin: 80px 0;
}

.vaisselleFavorite {
  padding: 50px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.vaisselleFavorite h2 {
  margin-bottom: 50px;
}

.vaisselleFavorite > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.vaisselleFavorite article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.vaisselleFavorite img {
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  left: 47px;
  top: 52px;
}

.vaisselleFavorite article:nth-of-type(2) > div {
  order: 4;
}

.vaisselleFavorite h4,
.vaisselleFavorite h5 {
  margin-bottom: 15px;
}

.vaisselleFavorite article > div {
  background-image: url(images/fond-assiette.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 250px;
  height: 250px;
  position: relative;
  margin-bottom: 10px;
}

.vaisselleFavorite button {
  font-size: 0.9em;
}

.vaisselleFavorite article:nth-of-type(2) button {
  margin-bottom: 10px;
}

@media screen and (min-width: 1450px) {
  .openBook {
    height: 1200px;
  }
}

@media screen and (min-width: 1700px) {
  .openBook {
    height: 1400px;
  }
}

@media screen and (max-width: 1100px) {
  .collectionPresentation {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px 50px 20px;
  }

  .fondAssiette img:nth-of-type(2) {
    bottom: -50px;
    left: -50px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(3) {
    bottom: -125px;
    left: 100px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(4) {
    bottom: -125px;
    left: 250px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(5) {
    bottom: -50px;
    left: 400px;
    top: unset;
  }

  .collectionPresentation article:last-of-type {
    margin-top: 150px;
  }

  .collectionPresentation article:last-of-type p {
    max-width: 800px;
  }

  .vaisselleFavorite > div {
    flex-direction: column;
  }

  .vaisselleFavorite > div article {
    margin: 20px 0;
  }

  .vaisselleFavorite article:nth-of-type(2) > div {
    order: unset;
  }

  .openBook {
    height: unset;
  }
}

@media screen and (max-width: 600px) {
  .fondAssiette {
    width: 300px;
    height: 300px;
  }

  .fondAssiette img:first-of-type {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 62px;
    left: 57px;
  }

  .fondAssiette img:nth-of-type(2) {
    bottom: -60px;
    left: -20px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(3) {
    bottom: -125px;
    left: 60px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(4) {
    bottom: -125px;
    left: 160px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(5) {
    bottom: -60px;
    left: 240px;
    top: unset;
  }

  .fondAssiette img:nth-of-type(2),
  .fondAssiette img:nth-of-type(3),
  .fondAssiette img:nth-of-type(4),
  .fondAssiette img:nth-of-type(5) {
    width: 80px;
    height: 80px;
  }

  #mainInspiration h2 {
    font-size: 2em;
  }

  #mainInspiration .vaisselleFavorite {
    padding: 50px 20px 100px 20px;
  }
}

@media screen and (max-width: 900px) {
  .collectionVideo {
    padding: 0 20px;
  }
  .collectionVideo article:first-of-type {
    width: 425px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .collectionVideo article:first-of-type div {
    width: 180px;
    height: 180px;
    left: 128px;
    top: 65px;
  }

  .collectionVideo > p {
    max-width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .openBook article {
    max-width: 45%;
    margin: 0;
  }

  .openBook article:last-of-type {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .openBook {
    background-image: none;
    flex-direction: column;
  }
  .openBook article:nth-of-type(2) img {
    order: unset;
  }

  .openBook article:nth-of-type(2) > div > p {
    text-align: unset;
  }

  .openBook article {
    max-width: 700px;
    padding: 0;
    margin: 0;
  }

  .openBook article > div {
    margin: 20px 0;
  }

  .openBook img {
    margin: 0 20px;
  }

  .openBook article:first-of-type > div:nth-of-type(2) img {
    order: 2;
  }

  .openBook article:first-of-type > div:nth-of-type(2) > p {
    text-align: right;
  }

  .openBook article:last-of-type > div:nth-of-type(1) img,
  .openBook article:last-of-type > div:nth-of-type(3) img {
    order: 2;
  }

  .openBook article:last-of-type > div:nth-of-type(1) > p,
  .openBook article:last-of-type > div:nth-of-type(3) > p {
    text-align: right;
  }

  .openBook article > div > p {
    font-size: 2em;
  }

  .recette {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .openBook img {
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
  }

  .openBook article > div > div {
    flex-direction: column;
  }

  .openBook article > div > p {
    text-align: center;
    font-size: 2.5em;
  }

  .openBook article:last-of-type > div:nth-of-type(1) img,
  .openBook article:last-of-type > div:nth-of-type(3) img {
    order: unset;
  }

  .openBook article:first-of-type > div:nth-of-type(2) img {
    order: unset;
  }

  .openBook article:last-of-type > div:nth-of-type(1) > p,
  .openBook article:last-of-type > div:nth-of-type(3) > p {
    text-align: center;
  }

  .openBook article:first-of-type > div:nth-of-type(2) > p {
    text-align: center;
  }

  .openBook article:nth-of-type(2) > div > p {
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .vaisselleFavorite {
    padding: 50px 50px 100px 50px;
  }
}

/* -------------------------------------------------------------------------- */
/*                              Input custom css                              */
/* -------------------------------------------------------------------------- */
input[type="range"] {
  height: 25px;
  -webkit-appearance: none;
  margin: 10px 0;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #d8dbe2;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #468c98;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #468c98;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #d8dbe2;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #d8dbe2;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #468c98;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #468c98;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #d8dbe2;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #d8dbe2;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #468c98;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #468c98;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #d8dbe2;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #d8dbe2;
}

.b-contain *,
.b-contain *::before,
.b-contain *::after {
  box-sizing: content-box !important;
}

.b-contain input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.b-contain span {
  line-height: 1.54;
  font-size: 1rem;
  font-family: inherit;
}

.b-contain {
  display: table;
  position: relative;
  padding-left: 1.8rem;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.b-contain input[type="checkbox"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 0.125rem;
}

.b-contain input[type="radio"] ~ .b-input {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  background: rgba(241, 245, 248, 1);
  transition: background 250ms;
  border: 1px solid rgba(184, 194, 204, 1);
  border-radius: 2rem;
}

.b-contain input[type="checkbox"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.45rem;
  top: 0.18rem;
  width: 0.25rem;
  height: 0.6rem;
  border: solid rgba(255, 255, 255, 1);
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.b-contain input[type="radio"] ~ .b-input::after {
  content: "";
  position: absolute;
  display: none;
  left: 0.25rem;
  top: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  transition: background 250ms;
}

.b-contain input:disabled ~ .b-input::after {
  border-color: rgba(135, 149, 161, 1);
}

.b-contain input:checked ~ .b-input::after {
  display: block;
}

.b-contain:hover input ~ .b-input,
.b-contain input:focus ~ .b-input {
  background: rgb(231, 238, 243);
}

.b-contain input:focus ~ .b-input {
  box-shadow: 0 0 0 2px var(--teal);
}

.b-contain input:checked ~ .b-input {
  background: var(--teal);
  border-color: var(--teal);
}

.b-contain input[type="checkbox"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input {
  background: rgba(241, 245, 248, 1);
  border-color: rgba(184, 194, 204, 1);
  opacity: 0.6;
  cursor: not-allowed;
}

.b-contain input[type="radio"]:disabled ~ .b-input::after {
  background: rgba(135, 149, 161, 1);
}

.b-contain input:checked:focus ~ .b-input,
.b-contain:hover input:not([disabled]):checked ~ .b-input {
  background: var(--teal);
  border-color: var(--teal);
}

.b-contain .b-input::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  height: 3rem;
  margin-left: -0.85rem;
  margin-top: -0.85rem;
  background: var(--teal);
  border-radius: 2rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes b-ripple {
  0% {
    transform: scale(0);
  }

  20% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes b-ripple-duplicate {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1);
  }

  60% {
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.b-contain input + .b-input::before {
  animation: b-ripple 250ms ease-out;
}

.b-contain input:checked + .b-input::before {
  animation-name: b-ripple-duplicate;
}

.b-contain .b-input::before {
  visibility: hidden;
}

.b-contain input:focus + .b-input::before {
  visibility: visible;
}

.b-contain:first-child .b-input::before {
  visibility: hidden;
}

.select {
  position: relative;
  display: inline-block;
  margin: 0 15px 15px 15px;
  font-size: 1.1em;
}
.select select {
  display: inline-block;
  width: 150px;
  cursor: pointer;
  padding: 10px 20px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0px;
  background: var(--lightGrey);
  color: var(--teal);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select select::-ms-expand {
  display: none;
}
.select select:hover {
  color: white;
  background: var(--teal);
}
.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.select_arrow {
  position: absolute;
  top: 20px;
  right: 15px;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  border-color: var(--teal) transparent transparent transparent;
}
.select select:hover ~ .select_arrow {
  border-top-color: white;
}
.select select:disabled ~ .select_arrow {
  border-top-color: #cccccc;
}
